<!DOCTYPE html>
<html>

<head>

	<title>Hayo Buat Website - Date A Live Movie</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="http://localhost:35729/livereload.js" type="text/javascript" charset="utf-8" async defer></script>
	<link rel="shortcut icon" href="C:\fathan folder\icon folder\icon folder.ico">

</head>

<body>


	<header>

		<img src="../../img/718223.png">
	</header>

	<menu>

		<li><a href="../index.html">Home</a></li>
		<li><a href="">Download</a></li>
		<li><a href="">Tutorial</a></li>
		<li><a href="">Software</a></li>
		<li><a href="">Design</a></li>
		<li><a href="">Support</a></li>
		<li><a href="">Kontak</a></li>

	</menu>


	<div class="container">

		<div class="widget">

			<div class="artikelTerlaris">

				<h3>Character Terpopuler</h3>

				<a href="../views/kurumi.html"><img src="../../img/kurumi.JPG" alt="Kurumi"></a>

				<a href="../views/kurumi.html">
					<h4>Tokisaki Kurumi</h4>
				</a>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In incidunt, necessitatibus eaque officiis deleniti
					nulla. <a href="../views/kurumi.html"><strong>baca selengkapnya...</strong></a></p>

				<br><br>

				<a href="#"><img src="../../img/kirito.jpg" alt="Kirito"></a>

				<a href="#">
					<h4>Kirigaya Kazuto</h4>
				</a>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In incidunt, necessitatibus eaque officiis deleniti
					nulla. <a href="#"><strong>baca selengkapnya...</strong></a></p>

				<br><br>

				<a href="#"><img src="../../img/chitanda.jpg" alt="Kininarimasu!"></a>

				<a href="#">
					<h4>Chitanda Eru</h4>
				</a>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In incidunt, necessitatibus eaque officiis deleniti
					nulla. <a href="#"><strong>baca selengkapnya...</strong></a></p>


			</div> <!-- akhir dari artikelTerlaris -->

			<div class="sosmed">

				<h3>Sosial Media!</h3>

				<p><img src="../../img/facebook.png" alt="Facebook" title="Like Me!" style="width: 40px; height: 40px;"><a
						href="#">:
						Like Me On Facebook</a></p>
				<p><img src="../../img/instagram.png" alt="Insatgram" title="Follow Me!"><a href="#"> : Follow Me On
						Instagram</a></p>
				<p><img src="../../img/whatsapp.png" alt="Whatsapp" title="Chat Me!"><a href="#">
						: Chat Me On Whatsaap</a></p>
				<p><img src="../../img/youtube.png" alt="Youtube" title="Subscribe My Channel!"><a href="#"> : Subcribe On
						Youtube</a></p>

			</div> <!-- akhir dari  sosmed-->


			<div class="kontak">

				<h3>Login!</h3>

				<form>

					<img src="../../img/login.jpg" alt=""><br>

					Email:<br><input type="email" required="Mantap!"><br>
					Password:<br><input type="password" required="Harus..">
					<input type="submit" value="Login">

				</form>


			</div> <!-- akhir dari  kontak-->

		</div> <!-- akhir dari  widget-->

		<div class="DateALive">

			<h2>Date A Live Mayuri Judgment Akan Tayang Di Bioskop Tanah Air</h2>

			<img src="../../img/latest(1).jpg" alt="Code Error" title="Date A Live Movie" class="poster">

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, temporibus accusamus, est, rerum non rem quas
				natus dicta eaque maxime officia repellat corrupti autem corporis suscipit inventore quibusdam deserunt
				consequatur iure impedit odit sint optio facere porro. Excepturi omnis accusamus veniam, sint. Amet similique,
				maiores quos odio quibusdam animi deserunt non soluta dignissimos! Voluptate quam pariatur similique explicabo
				soluta, repudiandae earum repellendus minima ut impedit, minus quasi, laborum ducimus corporis harum, quidem
				nobis illo! Quis, veritatis voluptatibus repellendus inventore quos ipsa nemo, rem hic eum.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae reiciendis aperiam molestiae quis dolores cum
				saepe dicta, ab sed ex voluptate praesentium sit. Quae aliquid nemo recusandae laborum facilis, non minus
				architecto porro molestias doloribus, magni fuga ipsa. Libero ipsam vel quaerat obcaecati, sint ad delectus.
				Numquam earum debitis nesciunt libero quasi ex. Veniam consequatur laborum alias ducimus nisi, enim.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla pariatur voluptatibus alias quasi obcaecati
				illo, ipsa ipsum, soluta beatae aliquid, consequuntur incidunt excepturi temporibus aperiam. Suscipit eaque
				earum ad dolorem vel nulla voluptatibus illo vero tempore at, consequuntur magnam, sed.</p>

			<img src="../../img/dal_content.png" alt="Code Error" title="Tokisaki kurumi" class="kurumi">

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, ea, ipsa. Natus necessitatibus quas
				reiciendis voluptatibus rerum dicta neque ducimus optio omnis iste fuga aliquid nihil molestiae esse, doloribus
				ipsam tempore eligendi blanditiis! Reiciendis iusto asperiores nam delectus quis quo!</p>


			<div class="sosmedFooter">

				<h3>Share This</h3>

				<img src="../../img/facebook.png" alt="Facebook" title="Like Me!" style="width: 45px; height: 45px;">
				<img src="../../img/instagram.png" alt="Insatgram" title="Follow Me!">
				<img src="../../img/whatsapp.png" alt="Whatsapp" title="Chat Me!">
				<img src="../../img/youtube.png" alt="Youtube" title="Subscribe My Channel!">

			</div> <!-- akhir dari  sosmedFooter-->


			<div class="komentar">

				<h3>Komentar!</h3>

				<form>

					<input type="email" required="Mantap!" placeholder="Email anda..."><br>
					<textarea name="komentar" placeholder="Komentar..." required=""></textarea><br>
					<input type="submit" value="Kirim">

				</form>


			</div> <!-- akhir dari  komentar-->

		</div>

	</div> <!-- akhir dari  container-->



	<div class="footer">

		<p>Copyright 2020 | <a href="https://github.com/daffa09">Daffa
				Fathan</a></p>

	</div>


</body>

</html>